@charset "UTF-8";

/* 共通部分
---------------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "M PLUS 1p", sans-serif;
  color: #432;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEADER
---------------------------------*/
.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME
---------------------------------*/
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background-color: #0090aa;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../images/main-bg.jpg),
    linear-gradient(#c9ffbf, #ffafbd);
  background-blend-mode: luminosity;
  min-height: 100vh;
}

#home .page-title {
  text-transform: none;
}
